/*ESTILOS GENERALES*/

@font-face {
  font-family: "Roboto regular";
  src: url("tipos/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: "Roboto bold";
  src: url("tipos/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: "Source regular";
  src: url("tipos/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "Source bold";
  src: url("tipos/SourceSansPro-Bold.ttf");
}
*{
    font-family: "Source regular"; 
}

/*APARTIR DE AQUÍ ES EL LOGIN.TPL*/

.error {
  font-family: "Source bold"; 
  font-size: 0.7em;
  color: white;
  background-color : red;
}

#login fieldset {
  margin: auto;
  margin-top: 300px;
  width: 230px;
  height: auto;
  padding:3px 10px 5px 10px;
  border:1px solid #ccc;
  background-color: #eee;
}

#login legend {
  font-family : "Source bold";
  font-size: 1.3em;
  color:#333;
}

#login .campo {
  margin-top:5px;
  margin-bottom: 10px;
}

#login label {
  font-family : "Source bold";
  font-size:0.8em;
}

#login input {
  font-size: 0.8em; 
  padding : 3px; 
  border : 1px solid #999;
  height:18px;
  width:220px;
  margin-top: 2px;
}

#login input[type="submit"] {
  width:100px;
  height:30px;
}

/*APARTIR DE AQUÍ ES EL SITIO.TPL*/

#contenedor { 
  width: 90%;
  margin: auto;
  border: 1px solid black;
  text-align: left;
} 

#encabezado {
  padding: 0 10px;
  border-bottom: solid black 1px;
  background-color: #9cf;
} 

#encabezado h1 {
  margin: 0; 
  padding: 10px 0; 
}

.pagproductos #contenedor #cesta {
  float: right;
  width: 16em;
  border:1px solid #ccc;
  background-color: #eee;
  color: black;
}

.pagproductos #contenedor #cesta #botonesCesta{
    margin-left: 25px;
}

.pagproductos #contenedor #cesta h3 img {
  margin-right: 10px;
  margin-left: 10px;
}

.pagproductos #contenedor #cesta p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
}

p form .cantidad {
  width: 20%;
  float:left;
}
p form .codigo {
  width: 60%;
  float:left;
}
p form .precio {
  width: 20%;
  text-align: right; 
}
p .total1 {
  width: 80%;
  float: left; 
}
p .total2 {
  width: 20%;
  text-align: right; 
}

#cesta input[type="submit"] {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width:35%;
  height: 30px;
  padding-left:0px;
}

.pagproductos #contenedor .pagcesta #productos {
  margin: 10px;
  font-size: 12px;
} 

.pagproductos #contenedor #productos input, .pagproductos #contenedor #productos{
  font-size: 14px;
  margin: 6px;
} 
#botonesCesta{
    margin: auto;
}

#productos .codigo {
  width: 20%;
  float: left;
} 

#productos .nombre {
  width: 60%;
  float: left;
} 

#productos .precio {
  width: 20%;
  text-align: right;
  font-weight: bold;
} 

#pie {
  padding: 0 10px;
  background-color: #99ccff;
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
} 
.borrar{
    background-image: url(del.png);
    width: 20px;
    height: 20px ;
}
.cestaAccion {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
    width:100px;
    height:30px;
    padding-left:0px;
}
table.pago {
    width: 100%;
    align-content: center
}

th.pago , td.pago {
    text-align: left;
    padding: 8px;
}
td.precio{
    text-align: right;
}

tr.pago:nth-child(even){background-color: #ccc}

th.pago {
    background-color: #4CAF50;
    color: white;
}
